html, body{
	height: 100%;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

canvas{
	position: relative;
	top: 0;
	left: 0;
}

body{
	background-color: #dddddd;
}

div{
	padding: 0;
	margin: 0;
}

h1{
	text-align: center;
	font-family: "Oswald", sans-serif;
	margin: 0;
}

a{
	color: #000000;
}

/* We cheat a bit here to fit all the controls in one row.
	I will add a proper workaround later.
 */
.evenly *{
	width: 24%;
}

#gl{
	width: 60%;
	height: 100%;
	float: left;
	cursor: move;
}

#card{
	background-color: #ffffff;
	box-shadow: 0 2px 4px #555555;
	margin: 0.5em;
	margin-left: 60%;
}

.padding{
	padding: 0.5em;
}

.code{
	word-wrap: break-word;
	padding: 1em;
	font-family: monospace;
	background-color: #37474f;
	color: #ffffff;
}

#customequipment input[type=text]{
	width: 100%;
}

#disabledslots{
	display: block;
}

#disabledslots .first{
	width: 60px;
	display: inline-block;
	clear: left;
}

#disabledslots span{
	width: 16px;
	height: 16px;
    display: inline-block;
}

#disabledslots .sprite{
    background-repeat: no-repeat;
    background-image: url("images/slots.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}