html, body{
	height: 100%;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

canvas{
	position: relative;
	top: 0;
	left: 0;
}

body{
	background-color: #dddddd;
}

div{
	padding: 0;
	margin: 0;
}

h1{
	text-align: center;
	font-family: "Oswald", sans-serif;
	margin: 0;
}

a{
	color: #000000;
}

input[type="text"], select{
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 0.5em;
}
input[type="text"]:not(:last-child){
	margin-bottom: 0.5em;
}
#customname{
	margin-bottom: 0;
}

#gl{
	width: 60%;
	height: 100%;
	float: left;
	cursor: move;
	position: fixed;
}

.card{
	background-color: #ffffff;
	box-shadow: 0 2px 4px #555555;
	margin: 0.5em;
	border-radius: 3px;
	padding: 1em;
}

.right{
	margin-left: 60%;
}

.padding{
	padding: 1em;
}

.underline{
	border-bottom: 1px dashed #ddd;
}

.code{
	word-wrap: break-word;
	padding: 1em;
	font-family: monospace;
	background-color: #37474f;
	border-radius: 3px;
	color: #ffffff;
}

#disabledslots{
	display: block;
}

#disabledslots .first{
    width: 60px;
    display: inline-block;
    clear: left;
    text-align: right;
    vertical-align: top;
}

#disabledslots span{
    width: 16px;
    height: 16px;
    display: inline-block;
}

#disabledslots div{
    height: 16px;
    line-height: 16px;
}

#disabledslots div + div{
    margin-top: 4px;
}

#disabledslots input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin: 0;
}

#disabledslots .sprite{
    background-repeat: no-repeat;
    background-image: url("images/slots.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* Things needed for colorpicker */
.colorfield{
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    height: 1em;
    background-color: #ff8800;
    border: 1px solid #777;
}

.equipment{
    width: 80%;
}

.rotations{
	width: 100%;
	text-align: right;
}

.rotations tr td:nth-child(1){
	width: 80px;
}

.rotations input{
	width: 100%;
}
